/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

%full-height {
  height: 100%;
}
.mat-progress-bar-fill::after {
  background-color: #ed4642c9;
}
html {
  @extend %full-height;
  body {
    @extend %full-height;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  button {
    outline: none !important;
  }
}

